SPRING_APP_NAME=cloud-file-storage
SERVER_PORT=8081

DB_URL=jdbc:postgresql://localhost:5432/cloud_storage
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_DRIVER=org.postgresql.Driver

JPA_DDL_AUTO=validate
JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect
JPA_SHOW_SQL=true
JPA_OPEN_IN_VIEW=false

FLYWAY_ENABLED=true
FLYWAY_LOCATIONS=classpath:db/migration

REDIS_HOST=localhost
REDIS_PORT=6379

SESSION_TTL_SECONDS=1800
SESSION_TTL_REFRESH_THRESHOLD_SECONDS=300
SESSION_COOKIE_NAME=SESSION_ID

MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=user-files

MULTIPART_MAX_FILE_SIZE=100MB
MULTIPART_MAX_REQUEST_SIZE=120MB